build/
build-release/
build-macos/
build-flatpak/
package/calculator-1.01-linux-x86_64/
package/.appimage-tools/
*.o
Calculator
resources/icons/calculator.ico
resources/icons/calculator.png

Calculator*installer.exe
Calculator*win64.zip
package/Calculator*.AppImage
package/Calculator*.dmg
package/Calculator*.msi
build-msi/
dist/
